// -- Palette --
// -- #485541 #92ac6d #cbd7b5 #4b4f53 #141615
// -- https://colorpalettes.net/color-palette-4100/

$page-background-colour: lighten(#cbd7b5, 12%);
$header-background-colour: #92ac6d;
$content-background-colour: #ffffff;

$text-colour: #141615;

$menu-link-colour: #cbd7b5;
$menu-link-colour-hover: #485541;

$white: #ffffff;
$white60: rgba(255,255,255,0.6);
$white80: rgba(255,255,255,0.8);
$black: #000000;
$black60: rgba(0,0,0,0.6);
$error_red: #ff7b7b;
